PopupScreen {
    align: center middle;
    background: $boost 80%;
}

PopupScreen #main_content {
    width: 60%;
    height: auto;
    max-height: 60%
}

ConfirmationPopup #main_content {
    layout: grid; 
    grid-size: 2 2;
}

ConfirmationPopup Button {
    width: 20%;
}

ConfirmationPopup Label {
    row-span: 2;
}

ListPopup OptionList{
    border: ascii $primary;
}