SearchScreen #content_cont {
    layout: grid;
    grid-size: 5 1;

}

SearchScreen #left_side_container {

    layout: grid;
    grid-size: 1;
    column-span: 2;
}
SearchScreen #right_side_content {
    column-span: 3;
    
}

SearchScreen #buttons_container {
    layout: grid;
    grid-size: 1;
}